<?xml version="1.0"?>
<configuration>

  <!--<location path="VisitorViewSb.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->

  <!--<location path="~/Aspx/VisitorV/VisitorViewV.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
</configuration>
